@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100%;
    height: 100%;
    font-family: "Kanit", sans-serif;
    background-color: rgb(0, 5, 41);
    color: white;
    margin: 0;
    padding: 0;
}

body::after {
    width: 100vw;
    height: 100vh;
    content: '';
    background-color: rgba(255, 0, 0, 0.359);
    position: fixed;
    top: 50%;
    border-radius: 35%;
    filter: blur(300px);
    z-index: -2;
}

hr {
    width: 90vw;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.glass {
    background: linear-gradient(135deg, rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
    box-shadow: 0 8px 32px 0 black;
    border: 1px solid rgb(255, 255, 255, 0.18);
}

.card {
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgb(0, 5, 41);
    padding: 30px;
    position: relative;
    transition: all 0.3s;
    top: 5%;
    animation: fade_in 2s ease forwards 1.5s;
    opacity: 0;
    transform: translateY(200px);
}

@keyframes fade_in {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card h1 {
    font-weight: bolder;
    font-size: 40px;
}

.card h2 {
    color: #ff8c00;
}

.card ul li {
    font-size: 20px;
}

.card:hover {
    box-shadow: 0px 4px 15px white;
}

.picture {
    width: 20%;
    height: 40%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    position: relative;
    background-color: black;
    opacity: 0;
    transform: translateY(200px);
    animation: mymove 7s linear infinite 2s, fade_in 2s ease forwards 2s;
}

@keyframes mymove {
    0% {
        top: 0px;
    }

    50% {
        top: 50px;
    }

    100% {
        top: 0px;
    }
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.picture:hover {
    box-shadow: 2px 2px 15px whitesmoke;
    scale: 1.1;
}

#icon1 {
    width: 70px;
    filter: drop-shadow(0px 5px 10px rgb(255, 128, 0));
    position: absolute;
    animation: myicon1 8s infinite reverse, fade_in 2s ease forwards 2.5s;
    transform: translateY(300px);
    opacity: 0;
}

@keyframes myicon1 {
    0% {
        top: 75%;
        right: 5%;
    }

    50% {
        top: 65%;
        right: 5%;
    }

    100% {
        top: 75%;
        right: 5%;
    }
}

#icon2 {
    width: 70px;
    filter: drop-shadow(0px 5px 10px rgb(77, 77, 255));
    position: absolute;
    animation: myicon2 5s infinite reverse, fade_in 2s ease forwards 2.5s;
    transform: translateY(300px);
    opacity: 0;
}

@keyframes myicon2 {
    0% {
        top: 85%;
        right: 20%;
    }

    50% {
        top: 80%;
        right: 20%;
    }

    100% {
        top: 85%;
        right: 20%;
    }
}

#icon3 {
    width: 140px;
    filter: drop-shadow(0px 5px 10px yellow);
    position: absolute;
    animation: myicon3 7s infinite reverse, fade_in 2s ease forwards 2.5s;
    transform: translateY(300px);
    opacity: 0;
}

@keyframes myicon3 {
    0% {
        top: 80%;
        right: 35%;
    }

    50% {
        top: 60%;
        right: 35%;
    }

    100% {
        top: 80%;
        right: 35%;
    }
}

nav {
    width: 100vw;
    height: 12vh;
    top: 0;
    left: 0;
    position: fixed;
    border: none;
    border-radius: 0 0 15px 15px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    z-index: 10;
    opacity: 0;
    transform: translateY(-100px);
    animation: fade_in 2s forwards;
}

nav #nav-left h1{
    text-transform: uppercase;
    color: #fff236;
}

nav #nav-left {
    width: 30%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    transform: translateX(-600px);
    opacity: 0;
    animation: text_slide_in 2s forwards 1.5s;
}

@keyframes text_slide_in {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

nav #nav-left h3 {
    letter-spacing: 3px;
    position: relative;
    transition: all 0.5s;
}

nav #nav-left h3:hover {
    color: red;
}

nav #nav-left h3::after {
    content: '';
    width: 0;
    height: 5px;
    background-color: red;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.5s;
}

nav #nav-left h3:hover::after {
    width: 100%;
    color: red;
}

nav #nav-left h3.active {
    color: red;
}

nav #nav-left h3.active::after {
    width: 100%;
}

nav #nav-icon {
    width: 11%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
    transform: translateX(300px);
    animation: text_slide_in 2s forwards 1.5s;
}

nav a {
    text-decoration: none;
    color: white;
}

.img-icon a {
    text-decoration: none;
}

.img-icon img {
    transition: all 0.3s ease-in-out;
    width: 50px;
}

.img-icon img:hover {
    scale: 1.1;
}

#certificate {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 150px 100px 0 0;
    gap: 50px;
    opacity: 0;
    animation: certificate_fade 2s ease forwards 2s;
}

@keyframes certificate_fade {
    100% {
        opacity: 1;
    }
}

.certificate-img {
    transition: scale 0.3s ease;
}

.certificate-img:hover {
    scale: 1.1;
}

.certificate-img img {
    width: 25vw;
    height: auto;
    cursor: pointer;
    display: block;
    transition: all 0.5s ease;
}

.scale {
    width: 45vw !important;
    font-size: 200%;
}

.certificate-img h2 {
    width: 25vw;
    text-align: center;
    display: block;
    transition: all 0.5s ease;
}

.slide-container {
    width: 100%;
    height: 100%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slideshow {
    display: flex;
    position: relative;
    width: 90%;
    height: 70vh;
    border-radius: 14px;
    overflow: hidden;
    transform: translateY(300px);
    opacity: 0;
    animation: fade_in 2s ease forwards 2s;
}

.text,
.image {
    width: 50%;
    padding: 35px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h1 {
    margin-bottom: 10px;
}

.text p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 20px;
}

.btn {
    width: fit-content;
    padding: 10px 20px;
    background: #ff8c00;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #ffa733;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fade {
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade.show {
    opacity: 1;
    transform: translateX(0);
}

.controls {
    text-align: center;
    margin-top: 20px;
    transform: translateY(300px);
    opacity: 0;
    animation: fade_in 2s ease forwards 2.6s;
}

.controls button {
    padding: 10px 18px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #333;
    color: #fff;
    transition: 0.3s;
}

.controls button:hover {
    background: #ff8c00;
    color: #000;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    transform: translateY(300px);
    opacity: 0;
    animation: fade_in 2s ease forwards 2.3s;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 6px;
    background: #555;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.dot.active {
    background: #ff8c00;
    transform: scale(1.3);
}